<div class="row justify-content-center" style="background-color: #F0EFEF; padding-top: 5rem; padding-bottom: 5rem;">
    <div class="col-30">
        <div class="row">
            <div class="col-12">
                <img class="w-50" src="../../assets/footer_pevc.png"/>
            </div>
            <div class="col-12 mt-5">
                <p class="footer-font-size"><span class="primary-red-color"><b>Northeastern University</b></span><br/>360 Huntington Ave<br/>Boston, MA 02115<br/><br/><span class="primary-red-color">Email:</span> nupevc@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="list-col">
        <h4 class="primary-red-color"><b>Useful Links</b></h4>
        <ul style="list-style: none; padding: 0; margin: 0; padding-left: 15px;">
            <li style="padding-top: 0; padding: 5px 0;margin-top: 2.5rem; display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/home">Home</a></li>
            <li style="padding-top: 0; padding: 5px 0;display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/about">About</a></li>
            <li style="padding-top: 0; padding: 5px 0;display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/events">Events</a></li>
            <li style="padding-top: 0; padding: 5px 0;display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/apply">Apply</a></li>
        </ul>
    </div>
    <div class="list-col">
        <h4 class="primary-red-color"><b>Teams</b></h4>
        <ul style="list-style: none; padding: 0; margin: 0; padding-left: 15px;">
            <li class="list-margin-top" style="padding-top: 0; padding: 5px 0;margin-top: 2.5rem; display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/home">Education</a></li>
            <li style="padding-top: 0; padding: 5px 0;display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/about">Events</a></li>
            <li style="padding-top: 0; padding: 5px 0;display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/events">Marketing</a></li>
            <li style="padding-top: 0; padding: 5px 0;display: flex; align-items: center;"><fa-icon style="font-size: 18px; line-height: 1; padding-right: 8px; margin-bottom: 2rem;" [icon]="faChevronRight"></fa-icon><a style="color: #777777; transition: 0.3s; display: inline-block; line-height: 1;" class="footer-font-size footer-link" routerLink="/apply">Research</a></li>
        </ul>
    </div>
    <div class="media-col">
        <div class="row">
            <div class="col-12">
                <p class="footer-font-size primary-red-color title-center"><b>Our Social Network</b></p>
            </div>
            <app-social-media></app-social-media>
        </div>
    </div>
</div>