<div class="about-background-image about-background-size position-relative">
    <span class="position-absolute primary-blue-color text-white title title-position w-100 text-center">Our Mission</span>
</div>
<div class="row justify-content-center row-padding mx-auto my-auto">
    <div class="col-11 text-center mb-3">
        <span class="header-font-size line-through primary-blue-color">What We Do</span>
    </div>
    <div class="col-12 description-text text-center" style="padding: 2rem 8rem;">
        <p class="display-description"><b>Our aim is to promote awareness of the Private Equity and Venture Capital space and strengthen our local community through educational and hands-on programming. We strive to create connections with peers, faculty, and professionals within the PE/VC atmosphere, in hopes that each member will take away valuable experiences that will serve as catalysts in a potential career in the buy-side industry.</b></p>
        <p class="display-shorter-description">The Private Equity and Venture Capital Club provides
            students with the opportunity to learn more about the private
            equity and venture capital industries.</p>
    </div> 
</div>

<div class="row justify-content-center row-padding mx-auto my-auto" style="background-color: #F0EFEF;">
    <div class="col-11 text-center mb-3">
        <span class="header-font-size line-through primary-blue-color">Our Teams</span>
    </div>
    <div class="col-10">
        <div class="row our-team-height">
        <div class="card-col card-box card-margin d-flex align-items-center">
            <div class="row">
              <div class="col-12 d-flex align-items-end justify-content-center">
                <fa-stack style="color: #841010;" size="3x">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                  <fa-icon
                    [icon]="faBookOpen"
                    [inverse]="true"
                    stackItemSize="1x"
                  ></fa-icon>
                </fa-stack>
              </div>
              <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                Education
              </div>
              <div class="col-12 text-center mt-2 card-text text-secondary">PEVC holds several events each semester in hopes of engaging students with exceptional professionals in the space through initiatives such as: fireside chats, panels, case studies, and a 'Shark Tank' event where 2 Northeastern ventures pitch to real investors.</div>
            </div>
        
          </div>
          <div class="card-col card-box card-margin d-flex align-items-center">
            <div class="row">
              <div class="col-12 d-flex align-items-end justify-content-center">
                <fa-stack style="color: #841010;" size="3x">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                  <fa-icon
                    [icon]="faCalendar"
                    [inverse]="true"
                    stackItemSize="1x"
                  ></fa-icon>
                </fa-stack>
              </div>
              <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                Events
              </div>
              <div class="col-12 text-center mt-2 card-text text-secondary">PEVC holds several events each semester in hopes of engaging students with exceptional professionals in the space through initiatives such as: fireside chats, panels, case studies, and a 'Shark Tank' event where 2 Northeastern ventures pitch to real investors.</div>
            </div>
        
          </div>
          <div class="card-col card-box card-margin d-flex align-items-center">
            <div class="row">
              <div class="col-12 d-flex align-items-end justify-content-center">
                <fa-stack style="color: #841010;" size="3x">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                  <fa-icon
                    [icon]="faMailBulk"
                    [inverse]="true"
                    stackItemSize="1x"
                  ></fa-icon>
                </fa-stack>
              </div>
              <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                Marketing
              </div>
              <div class="col-12 text-center mt-2 card-text text-secondary">PEVC holds several events each semester in hopes of engaging students with exceptional professionals in the space through initiatives such as: fireside chats, panels, case studies, and a 'Shark Tank' event where 2 Northeastern ventures pitch to real investors.</div>
            </div>
        
          </div>
          <div class="card-col card-box card-margin d-flex align-items-center">
            <div class="row">
              <div class="col-12 d-flex align-items-end justify-content-center">
                <fa-stack style="color: #841010;" size="3x">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                  <fa-icon
                    [icon]="faChartLine"
                    [inverse]="true"
                    stackItemSize="1x"
                  ></fa-icon>
                </fa-stack>
              </div>
              <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                Research
              </div>
              <div class="col-12 text-center mt-2 card-text text-secondary">Research and develop insights in the private markets. We look for notable activity in the private equity, venture capital, growth equity, M&A, and fundraising spaces. Our research team introduces students to the private markets and allows them to develop industry knowledge.</div>
            </div>
        
          </div>
        </div>
    </div>
</div>

<div class="row justify-content-center row-padding mx-auto my-auto">
    <div class="col-11 text-center mb-3">
        <span class="header-font-size line-through primary-blue-color">Our Background</span>
    </div>
    <div style="max-width: 1400px !important;">
    <div class="img-section">
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/morgan_stanley.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/waterfall.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/insight.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/raymond_james.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/mckinsey.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/bcg.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/hercules.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/bain.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/first_eagle.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="225px" src="../../../../../assets/summit.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/fprime.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="150px" src="../../../../../assets/citi.jpeg"/>
    </span>
    </div>
    </div>
    </div>
    <!-- <div class="col-12">
        <div class="row">
            <div class="logo-col my-auto text-center">
                <img style="width: 90%;" src="../../../../../assets/morgan_stanley.png"/>
            </div>
            <div class="logo-col my-auto text-center">
                <img style="width: 90%;" src="../../../../../assets/waterfall.jpeg"/>
            </div>
            <div class="logo-col my-auto text-center">
                <img style="width: 90%;" src="../../../../../assets/insight.png"/>
            </div>
            <div class="logo-col my-auto text-center">
                <img style="width: 90%;" src="../../../../../assets/raymond_james.png"/>
            </div>
            <div class="logo-col my-auto text-center more-margin-top">
                <img style="width: 90%;" src="../../../../../assets/mckinsey.png"/>
            </div>
            <div class="logo-col my-auto text-center">
                <img style="width: 90%;" src="../../../../../assets/bcg.jpeg"/>
            </div>
            <div class="logo-col my-auto text-center">
                <img style="width: 90%;" src="../../../../../assets/hercules.png"/>
            </div>
            <div class="logo-col my-auto text-center more-margin-top">
                <img style="width: 90%;" src="../../../../../assets/bain.png"/>
            </div>
            <div class="logo-col my-auto text-center more-margin-top more-margin-md-top">
                <img style="width: 65%;" src="../../../../../assets/first_eagle.jpeg"/>
            </div>
            <div class="logo-col my-auto text-center more-margin-top more-margin-md-top">
                <img style="width: 90%;" src="../../../../../assets/summit.jpeg.crdownload"/>
            </div>
            <div class="logo-col my-auto text-center more-margin-top more-margin-md-top">
                <img class="w-75" src="../../../../../assets/fprime.jpeg"/>
            </div>
            
            <div class="logo-col my-auto text-center more-margin-top">
                <img style="width: 35%;" src="../../../../../assets/citi.jpeg"/>
            </div>
        </div>
    </div> -->
</div>
<app-footer></app-footer>