<div class="about-background-image about-background-size position-relative">
    <span class="position-absolute primary-blue-color text-white title title-position w-100 text-center">Our Mission</span>
</div>
<div class="row justify-content-center row-padding mx-auto my-auto">
    <div class="col-11 text-center mb-3">
        <span class="header-font-size line-through primary-blue-color">What We Do</span>
    </div>
    <div class="col-12 description-text text-center description-padding">
        <p class="display-description">Our aim is to promote awareness of the Private Equity and Venture Capital space and strengthen our local community through educational and hands-on programming. We strive to create connections with peers, faculty, and professionals within the PE/VC atmosphere, in hopes that each member will take away valuable experiences that will serve as catalysts in a potential career in the buy-side industry.</p>
        <p class="display-shorter-description">The Private Equity and Venture Capital Club provides
            students with the opportunity to learn more about the private
            equity and venture capital industries.</p>
    </div> 
</div>

<div class="row justify-content-center row-padding mx-auto my-auto" style="background-color: #F0EFEF;">
    <div class="col-11 text-center mb-3">
        <span class="header-font-size line-through primary-blue-color">Our Teams</span>
    </div>
    <div class="col-10 mt-4">
        <div class="row our-team-height">
        <div class="card-col card-box card-margin d-flex align-items-center pt-4 pb-4" (click)="navigateToUrl('education')">
            <div class="row h-100">
              <div style="height: 35%;">
                <div class="col-12 d-flex align-items-end justify-content-center">
                  <fa-stack style="color: #841010;" size="3x">
                    <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                    <fa-icon
                      [icon]="faBookOpen"
                      [inverse]="true"
                      stackItemSize="1x"
                    ></fa-icon>
                  </fa-stack>
                </div>
                <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                  Education
                </div>
            </div>
              <div class="col-12 text-center mt-2 card-text text-dark ps-2 pe-2 h-75">The Education team provides students with a hands on understanding of key concepts in the PE/VC space through a 8-week intensive bootcamp. This course will cover crucial topics to jumpstarting a career in the buy-side industry.</div>
            </div>
        
          </div>
          <div class="card-col card-box card-margin d-flex align-items-center pt-4 pb-4" (click)="navigateToUrl('events')">
            <div class="row h-100">
              <div style="height: 35%;">
              <div class="col-12 d-flex align-items-end justify-content-center">
                <fa-stack style="color: #841010;" size="3x">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                  <fa-icon
                    [icon]="faCalendar"
                    [inverse]="true"
                    stackItemSize="1x"
                  ></fa-icon>
                </fa-stack>
              </div>
              <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                Events
              </div>
            </div>
              <div class="col-12 text-center mt-2 card-text text-dark ps-2 pe-2 h-75">PEVC holds several events each semester in hopes of engaging students with professionals in the space through initiatives such as: fireside chats, panels, case studies. Check out our upcoming <a style="color: gray;" [routerLink]="['/events']">events</a>. </div>
            </div>
        
          </div>
          <div class="card-col card-box card-margin d-flex align-items-center pt-4 pb-4" (click)="navigateToUrl('marketing')">
            <div class="row h-100">
              <div style="height: 35%;">
              <div class="col-12 d-flex align-items-end justify-content-center">
                <fa-stack style="color: #841010;" size="3x">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                  <fa-icon
                    [icon]="faMailBulk"
                    [inverse]="true"
                    stackItemSize="1x"
                  ></fa-icon>
                </fa-stack>
              </div>
              <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                Marketing
              </div>
            </div>
              <div class="col-12 text-center mt-2 card-text text-dark ps-2 pe-2">The Marketing team provides students with opportunities to flex their creativity. Students can design marketing materials or practice professional writing skills through Instagram & weekly newsletters.</div>
            </div>
        
          </div>
          <div class="card-col card-box card-margin d-flex align-items-center pt-4 pb-4" (click)="navigateToUrl('research')">
            <div class="row h-100">
              <div style="height: 35%;">
              <div class="col-12 d-flex align-items-end justify-content-center">
                <fa-stack style="color: #841010;" size="3x">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                  <fa-icon
                    [icon]="faChartLine"
                    [inverse]="true"
                    stackItemSize="1x"
                  ></fa-icon>
                </fa-stack>
              </div>
              <div class="col-12 cardheader text-center mt-3" style="color: #841010;">
                Research
              </div>
            </div>
              <div class="col-12 text-center mt-2 card-text text-dark">The Research team conducts analysis on private markets which is then curated into a biweekly analyst report. Students have the opportunity to specialize in industries that peak their interests and delve deeper into key topics.</div>
            </div>
        
          </div>
        </div>
    </div>
</div>

<div class="row justify-content-center row-padding mx-auto my-auto">
    <div class="col-11 text-center mb-3">
        <span class="header-font-size line-through primary-blue-color">Our Background</span>
    </div>
    <div style="max-width: 1400px !important;">
    <div class="img-section">
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/morgan_stanley.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/waterfall.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/insight.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/raymond_james.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/mckinsey.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/bcg.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/hercules.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/bain.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/first_eagle.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="225px" src="../../../../../assets/summit.png"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="200px" src="../../../../../assets/fprime.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
    <span class="img-wrap">
        <img width="150px" src="../../../../../assets/citi.jpeg"/>
    </span>
    </div>
    <div class="img-logo">
      <span class="img-wrap">
          <img width="150px" src="../../../../../assets/capital-one.png"/>
      </span>
      </div>
    </div>
    </div>
</div>
<app-footer></app-footer>