<div class="row justify-content-center row-padding mx-auto my-auto" style="padding-top: 7rem; padding-bottom: 7rem;">
    <div class="apply-container position-relative" style="min-height: 200px; height: auto;">
        <div class="light-square"></div>
        <div class="large-square" (click)="gotoForm()" style="cursor: pointer;">
            <div class="square-text-container">
                <div style="flex: 1 1 100%">
                    <p class="text-white subheader-font-size mb-0" style="font-weight: 500;">{{title}}</p>
                    <h2 class="header-font-size text-white" style="font-weight: 700;">{{subHeader}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>