input[type="radio"] {
	display: none;
}

.stages label {
	background: #ffffff;
	border: solid 5px #c0c0c0;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	font-weight: 700;
	height: 50px;
	line-height: 40px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 50px;
	z-index: 1;
}

.stages label:after {
	content: '\2713';
	color: #0cc39f;
	display: inline-block;
	font-size: 16px;
}

#one:checked ~ .stages label[for="one"],
#two:checked ~ .stages label[for="two"],
#three:checked ~ .stages label[for="three"] {
	border-color: #0cc39f;
}

#one:checked ~ .stages label,
#two:checked ~ .stages label[for="one"] ~ label,
#three:checked ~ .stages label[for="two"] ~ label {
	font-size: 1rem;
}

#one:checked ~ .stages label:after,
#two:checked ~ .stages label[for="one"] ~ label:after,
#three:checked ~ .stages label[for="two"] ~ label:after {
	display: none;
}

.step-progress > span {
	background: #c0c0c0;
	display: inline-block;
	height: 5px;
	transform: translateY(-2.75em);
	transition: 0.3s;
	width: 0;
}

#two:checked ~ .step-progress span {
	width: calc(50%);
}

#three:checked ~ .step-progress span {
	width: calc(100%);
}

.panels > div:not(first-child) {
	display: none;
}

#one:checked ~ .panels [data-panel="one"],
#two:checked ~ .panels [data-panel="two"],
#three:checked ~ .panels [data-panel="three"] {
	display: block;
}


.panels > div {
	border-top: solid 1px #c0c0c0;
	margin: 1em 0 0;
	padding: 1em 0 0;
}


.background-position {
    background-position-y: 45vh !important;
}

.title-col {
    flex: 0 0 auto;
    width: 60%;
}

.title {
    font-size: 4vw;
    line-height: 5vh;
}

.subtitle {
    font-size: 1.5vw; 
    font-weight: 700;
}

.text {
    color: gray; 
    font-size: 2vw; 
    line-height: 1.2; 
    font-weight: 300;
}

.connect-col {
    flex: 0 0 auto;
    width: 50%;
}

.connect-desc-col {
    flex: 0 0 auto;
    width: 80%;
}

.margin-top {
    margin-top: 1.5rem!important;
}

.form-col {
    flex: 0 0 auto;
    width: 50%;
}

@media (max-width: 500px) {
  .form-col {
    flex: 0 0 auto;
    width: 75%;
  }
}

.form-label-col {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.field-col {
    width: 80%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.form-control {
    background-color: rgba(196, 196, 196, 0.41);
    border-radius: 15px;
}

.form-check-input:checked {
    background-color: rgba(196, 196, 196, 1);
    border-color: rgba(196, 196, 196, 1);
}

.form-check-input:focus {
    border-color: rgba(196, 196, 196, 1);
    box-shadow: none;
}

.form-button {
  background-color: #841010; 
  color: white; 
  padding: 5px 20px; 
  border-radius: 50px; 
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%); 
  border: 2px solid #841010
}

.disabled-button {
  opacity: 0.8;
}

/* General Styles */

* {
    box-sizing: border-box;
  }
  
  :root {
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
    --clr-light: rgb(245, 248, 255);
    --clr-light-gray: rgb(196, 195, 196);
    --clr-blue: rgb(63, 134, 255);
    --clr-light-blue: rgb(171, 202, 255);
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-light);
    color: var(--clr-black);
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* End General Styles */
  
  /* Upload Area */
  .upload-area {
    width: 100%;
    max-width: 25rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    border: 2px solid rgb(171, 202, 255);
    border-radius: 24px;
    padding: 2rem 1.875rem 2rem 1.875rem;
    margin: 0.625rem;
    text-align: center;
  }
  
  .upload-area--open { /* Slid Down Animation */
    animation: slidDown 500ms ease-in-out;
  }
  
  @keyframes slidDown {
    from {
      height: 28.125rem; /* 450px */
    }
  
    to {
      height: 35rem; /* 560px */
    }
  }
  
  /* Header */
  .upload-area__header {
  
  }
  
  .upload-area__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.3125rem;
  }
  
  .upload-area__paragraph {
    font-size: 0.9375rem;
    color: rgb(196, 195, 196);
    margin-top: 0;
  }
  
  .upload-area__tooltip {
    position: relative;
    color: rgb(171, 202, 255);
    cursor: pointer;
    transition: color 300ms ease-in-out;
  }
  
  .upload-area__tooltip:hover {
    color: rgb(63, 134, 255);
  }
  
  .upload-area__tooltip-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    min-width: max-content;
    background-color: rgb(255, 255, 255);
    color: rgb(63, 134, 255);
    border: 1px solid rgb(171, 202, 255);
    padding: 0.625rem 1.25rem;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: none 300ms ease-in-out;
    transition-property: opacity, visibility;
  }
  
  .upload-area__tooltip:hover .upload-area__tooltip-data {
    opacity: 1;
    visibility: visible;
  }
  
  /* Drop Zoon */
  .upload-area__drop-zoon {
    position: relative;
    height: 9rem; /* 180px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed rgb(171, 202, 255);
    border-radius: 15px;
    margin-top: 2.1875rem;
    cursor: pointer;
    transition: border-color 300ms ease-in-out;
  }
  
  .upload-area__drop-zoon:hover {
    border-color: rgb(63, 134, 255);
  }
  
  .drop-zoon__icon {
    display: flex;
    font-size: 3.75rem;
    color: rgb(63, 134, 255);
    transition: opacity 300ms ease-in-out;
  }
  
  .drop-zoon__paragraph {
    font-size: 0.9375rem;
    color: rgb(196, 195, 196);
    margin: 0;
    margin-top: 0.625rem;
    transition: opacity 300ms ease-in-out;
  }
  
  .drop-zoon:hover .drop-zoon__icon,
  .drop-zoon:hover .drop-zoon__paragraph {
    opacity: 0.7;
  }
  
  .drop-zoon__loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: rgb(171, 202, 255);
    z-index: 10;
  }
  
  .drop-zoon__preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.3125rem;
    border-radius: 10px;
    display: none;
    z-index: 1000;
    transition: opacity 300ms ease-in-out;
  }
  
  .drop-zoon:hover .drop-zoon__preview-image {
    opacity: 0.8;
  }
  
  .drop-zoon__file-input {
    display: none;
  }
  
  /* (drop-zoon--over) Modifier Class */
  .drop-zoon--over {
    border-color: rgb(63, 134, 255);
  }
  
  .drop-zoon--over .drop-zoon__icon,
  .drop-zoon--over .drop-zoon__paragraph {
    opacity: 0.7;
  }
  
  /* (drop-zoon--over) Modifier Class */
  .drop-zoon--Uploaded {
    
  }
  
  .drop-zoon--Uploaded .drop-zoon__icon,
  .drop-zoon--Uploaded .drop-zoon__paragraph {
    display: none;
  }
  
  /* File Details Area */
  .upload-area__file-details {
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    transition: none 500ms ease-in-out;
    transition-property: opacity, visibility;
    transition-delay: 500ms;
  }
  
  /* (duploaded-file--open) Modifier Class */
  .file-details--open {
    height: auto;
    visibility: visible;
    opacity: 1;
    margin-top: 20px;
  }
  
  .file-details__title {
    font-size: 1.125rem;
    font-weight: 500;
    color: rgb(196, 195, 196);
  }
  
  /* Uploaded File */
  .uploaded-file {
    display: flex;
    align-items: center;
    padding: 0.625rem 0;
    visibility: hidden;
    opacity: 0;
    transition: none 500ms ease-in-out;
    transition-property: visibility, opacity;
  }
  
  /* (duploaded-file--open) Modifier Class */
  .uploaded-file--open {
    visibility: visible;
    opacity: 1;
  }
  
  .uploaded-file__icon-container {
    position: relative;
    margin-right: 0.3125rem;
  }
  
  .uploaded-file__icon {
    font-size: 3.4375rem;
    color: rgb(63, 134, 255);
  }
  
  .uploaded-file__icon-text {
    position: absolute;
    top: 1.5625rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9375rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  
  .uploaded-file__info {
    position: relative;
    top: -0.3125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .uploaded-file__info::before,
  .uploaded-file__info::after {
    content: '';
    position: absolute;
    bottom: -0.9375rem;
    width: 0;
    height: 0.5rem;
    background-color: #ebf2ff;
    border-radius: 0.625rem;
  }
  
  .uploaded-file__info::before {
    width: 100%;
  }
  
  .uploaded-file__info::after {
    width: 100%;
    background-color: rgb(63, 134, 255);
  }
  
  /* Progress Animation */
  .uploaded-file__info--active::after {
    animation: progressMove 800ms ease-in-out;
    animation-delay: 300ms;
  }
  
  @keyframes progressMove {
    from {
      width: 0%;
      background-color: transparent;
    }
  
    to {
      width: 100%;
      background-color: rgb(63, 134, 255);
    }
  }
  
  .uploaded-file__name {
    width: 100%;
    max-width: 10rem; /* 100px */
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .uploaded-file__counter {
    font-size: 1rem;
    color: rgb(196, 195, 196);
  }

@media (max-width: 1050px) {
    .background-position {
        background-position-y: 20vh !important;
    }

    .connect-col {
        flex: 0 0 auto;
        width: 100%;
    }

    .connect-desc-col {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

@media (max-width: 699px) {
    .title-col {
        flex: 0 0 auto;
        width: 50%;
    }

    .text {
        font-size: 15px;
    }

    .subtitle {
        font-size: 20px;
    }
}

@media (min-width: 700px) and (max-width: 1049px) {
    .text {
        font-size: 2.5vw;
    }

    .subtitle {
        font-size: 3vw;
    }

    .title {
        font-size: 5vw;
    }
}