.team-header {
    font-size: 45px;
}

.display-small {
    display: none;
}

.title-height {
    height: 85vh;
}

.team-description {
    font-size: 22px;
}

.team-card {
    width: 73%;
}

.container-width {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.card-position {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 400px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(77, 77, 77, .9);
    color: white;
    opacity: 0;
    transition: all 0.5s;
}

.team-card {
    cursor: pointer;
    box-shadow: 0 2.5rem 3rem rgba(0,0,0,.5);
}

.head {
    font-size: 2vw;
    
    transform: translateY(40px);
    transition: all 0.7s;
    hr {
        display: block;
        width: 0;
        
        border: none;
        border-bottom: solid 0.5vh white;
        
        position: absolute;
        top:50%; left:50%;
        transform: translateX(-50%);
        transition: all .5s;
    }
  }

.team-card:hover .overlay {
    opacity: 1;
    & .head {
        transform: translateY(0px);
    }
      
    & hr {
        width: 75%;
        transition-delay: 0.4s;
        opacity: 1;
    }
}

.card-width {
    width: 50%;
    align-items: center;
}

@media (max-width: 1400px) {
    .team-header {
        font-size: 45px;
    }

    .team-card {
        width: 100%;
    }

    .team-description {
        font-size: 18px;
    }
}

@media (max-width: 1070px) {
    .card-width {
        width: 70%;
    }
}

@media (max-width: 787px) {
    .team-header {
        font-size: 30px;
    }

    .team-description {
        font-size: 16px;
    }

    .container-width {
        width: 100%;
    }

    .card-position {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 660px) {
    .card-width {
        width: 100%;
    }

    .card-position {
        display: none !important;
    }

    .title-height {
        height: 50vh;
    }

    .display-small {
        display: flex;
    }
}

.hyperlink:hover {
    text-decoration: underline !important;
}