<div class="row justify-content-center mx-auto" style="height: 50vh;">
    <div class="community col-12 header-font-size d-flex align-items-center justify-content-center primary-blue-color">
        <div class="subscribe-title">{{title}}</div>
    </div>
    <div class="form-margin col-10 col-md-8 col-lg-6 text-center">
        <form style="
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 50px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        text-align: left; border: 1px solid black;">
        <div class="form-group">
            <input class="form-control" style="border: none; border-radius: 25px; padding: 4px 8px;" type="email" placeholder="Subscribe to our newsletter"/>
            <button class="community" style="position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border: 0;
            background: none;
            font-size: 16px;
            padding: 0 20px;
            background: #841010;
            color: #fff;
            transition: 0.3s;
            border-radius: 50px;
            box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);">Subscribe</button>
        </div>
            
        </form>
        <button class="btn btn-primary mt-3 subscribe" style="margin-right: 10px;width: 172.97px; height: 51px;background-color: #841010 !important;border-radius: 50px; color: white; border: 2px solid black; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: white;">Subscribe</button>
        <button class="btn btn-primary mt-3" style="border-radius: 50px; color: #1b2e54; border: 2px solid black; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: white;">Join Our Slack<img width="35px" src="../../../../../assets/Slack_Mark.svg"/></button>
    </div>
  </div>