<div class="about-background-image about-background-size position-relative">
    <span class="position-absolute primary-blue-color text-white title title-position w-100 text-center">Join Our Team</span>
</div>

<app-apply-steps title="The Steps" description="Northeastern Private Equity and Venture Capital provides students with real life insights and exposure to the PE/VC industry"></app-apply-steps>
<div class="row justify-content-center mx-auto my-auto" style="background-color: #F0EFEF; padding-top: 5rem; padding-bottom: 5rem;">
    <div class="requirements-container d-flex align-items-center justify-content-end text-end step-title primary-blue-color">
        Requirements
     
    </div>
    
    <div class="requirements-description-container">
        <div class="bar"></div>
        <div class="subheader-font-size" style="width: 80%; line-height: 2.5rem;">Students of all years are encouraged to apply. Candidates often do not require prerequisite knowledge of private equity or venture capital. Our main goal is to build a community of innovative, driven students unified by a passion for PE and VC.</div>
    </div>
</div>
<app-apply-panel title="Ready To Get Involved?" subHeader="Apply Now" url="/apply/form"></app-apply-panel>
<app-footer></app-footer>