<div class="row justify-content-center row-padding mx-auto my-auto">
    <div class="col-11 text-center mb-3">
        <span class="header-font-size line-through primary-blue-color">{{title}}</span>
    </div>
    <div class="col-11 text-center subheader-font-size">
        {{description}}
    </div>
<div class="col-11 text-center subheader-font-size mx-auto">
    <div class="row">
        <div class="step-container">
            <h1 class="number first-step-num">1</h1>
            <div class="text first-step-text">
                <h3 class="step-title primary-blue-color">Application</h3>
                <p class="step-description">Apply to our teams during our Fall and Spring Recruitment</p>
            </div>
        </div>
        <div class="step-container">
            <h1 class="number second-step-num">2</h1>
            <div class="text second-step-text">
                <h3 class="step-title primary-blue-color">Interview</h3>
                <p class="step-description">Sit down with our directors for a 30 minute interview</p>
            </div>
        </div>
        <div class="step-container">
            <h1 class="number third-step-num" style="font-size: 300px;">3</h1>
            <div class="text third-step-text">
                <h3 class="step-title primary-blue-color">Acceptance</h3>
                <p class="step-description">Join the team and gain exposure to the industry</p>
            </div>
        </div>
    </div>
</div>
</div>