<div class="col-12 icons-align">
    <fa-stack style="color: #841010" size="2x">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faInstragram"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
      <fa-stack style="color: #841010" size="2x">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faFacebook"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
      <fa-stack style="color: #841010" size="2x">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faLinkedin"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
      <fa-stack style="color: #841010" size="2x">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faSlack"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
</div>