<div class="col-12 icons-align">
    <fa-stack class="circle-container" style="color: #841010" size="2x" (click)="navigateToUrl('https://instagram.com/nu_pevc/')">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faInstragram"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
      <fa-stack class="circle-container" style="color: #841010" size="2x" (click)="navigateToUrl('https://www.facebook.com/nupevc/')">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faFacebook"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
      <fa-stack class="circle-container" style="color: #841010" size="2x" (click)="navigateToUrl('https://www.linkedin.com/company/private-equity-and-venture-capital-club-northeastern-university/')">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faLinkedin"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
      <fa-stack class="circle-container" style="color: #841010" size="2x" (click)="navigateToUrl('https://nupevc.slack.com')">
        <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
        <fa-icon
          [icon]="faSlack"
          [inverse]="true"
          stackItemSize="1x"
        ></fa-icon>
      </fa-stack>
</div>